[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Aa]ssets/[Vv]ideos/
[Aa]ssets/[Vv]ideos/*
[Aa]ssets/[Ss]treaming[Aa]ssets
[Aa]ssets/[Ss]treaming[Aa]ssets/*
# [Aa]ssets/[Tt]extures
# [Aa]ssets/[Tt]extures/*
# [Aa]ssets/[Mm]aterials
# [Aa]ssets/[Mm]aterials/*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.utmp/

# IDEs
.vs/
.idea/
.DS_Store